@import url("pricing.css");
@import url("awesome.css");
@import url("customer.css");
@import url("social_media.css");
@import url("contactform.css");
@import url("axit.css");
@import url("tab.css");

.container{
margin: auto;
max-width:1170px;
padding: 0px 15px;
position:relative;
}
*{
margin: 0px;
padding: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        margin:auto 15px;
    }
}
