@import url("pricing.css");
@import url("awesome.css");
@import url("customer.css");
@import url("social_media.css");
@import url("contactform.css");

.container{
margin: auto;
max-width:1170px;
padding: 0px 15px;
position:relative;
}
*{
margin: 0px;
padding: 0px;
}



