.pricing__header {
padding-top: 80px;
}
.pricing__header__title {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #212121;
padding-bottom: 34px;
}
.pricing__header__line {
margin: auto;
width: 64px;
height: 2px;
background: #E72424;
border: 1px solid #E72424;
}
.pricing__header__text {
padding-top: 34px;
margin: auto;
width: 363px;
height: 19px;
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #86878B;
}
